@model Casa_di_Roma.Models.MenuItem



<h2>Specials</h2>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            
            <img src="~/images/chicken_parmigiana.jpeg" height="100" width="1000" alt="ASP.NET" class="img-responsive"  />
            <div class="carousel-caption" role="option" >
                <p><br/>@Model.Name<br/> @Model.Description<br/>@Model.Price.ToString("C")<br/>&nbsp;
                    </p>
                
            </div>
        </div>

    </div><!--~/images/banner1.svg-->
</div>